<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogicaNegocioyADatos.Properties.Settings.monteriaConnectionString"
            connectionString="user id=root;server=localhost;database=monteria;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="LogicaNegocioyADatos.Properties.Settings.BD_monteriaConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BD_monteria.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>