<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogicaNegocioyADatos.Properties.Settings.taxiConnectionString"
            connectionString="server=localhost;user id=root;password=root;database=monteria"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>